<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link rel="stylesheet" href="/css/login.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">
</head>
<body>
    <div id="header-wrapper">
        <header>
            <nav class="main-nav">
                <div class="nav-item">
                    
                    <a class="nav-link" href="/main">Home</a>
                </div>
                <div class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </div>
                <div class="nav-item">
                    <input class="nav-search" type="text" placeholder="Search.." inputmode="search">
                </div>
                <div class="nav-item">
                    <a class="nav-link" href="/login">Log in</a>
                </div>
            </div>
        </nav>
        </header>
    </div>
    <div class="result-body">
        <div class="login-window">
            <form class="login-form" method="post">
                <h6 class="form-title">Enter your login credentials</h6>
                <label><b>Username</b></label>
                <input class="form-input" type="text" name="username" placeholder="Enter your Username" required>
                <label><b>Password</b></label>
                <!-- nazwa dp zmianu -->
                <input class="form-input" type="password" name="password" placeholder="Enter your Password" required>
                <button class=form-btn" type="submit">Submit</button>  
            </form>

        </div>
    </div>
</body>

<footer>
    <small>
        <div class="footer-content">
            Copyright © 2023 Best Duo Ever. All Rights Reserved.
        </div>
    </small>    
</footer>
</html>

