<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link rel="stylesheet" href="/css/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">
    <script>
        (async function loadNav() {
            const data = await fetch('/load-nav');
            const navHTML = await data.text();
            document.getElementsByTagName('header')[0].innerHTML = navHTML;
        })();
        (async function loadProdSquares() {
            const data = await fetch('/load-prod-sq');
            const prodSqHTML = await data.text();
            console.log(prodSqHTML);
            document.getElementsByClassName('product-grid-container')[0].innerHTML = prodSqHTML;
        })();
    </script>
</head>
<body>
    <div id="header-wrapper">
        <header>
        </header>
    </div>
    <div class="result-body">
        <div class="sidebar">
            <ul>
                <h6>Categories</h6>
                <li class="cat-item"><a class="cat-link" href="/main">small</a></li>
                <li class="cat-item"><a class="cat-link" href="/main">large </a></li>
            </ul>
        </div>
        <div class="product-grid-container">
            <!-- <div class="product-item">
                <a class="product-link" href="/product">
                    <img class="product-image" src="/images/cactus.png" width="300" height="300" alt="tomcruise">
                    <figcaption class="product-name">bla bla bla</figcaption>
                    <figcaption class="product-price">8$</figcaption>
                </a>
            </div>
            <div class="product-item">
                <a class="product-link" href="/product">
                    <img class="product-image" src="/images/cactus.png" width="300" height="300" alt="tomcruise">
                    <figcaption class="product-name">bla bla bla</figcaption>
                    <figcaption class="product-price">8$</figcaption>
                </a>
            </div> -->
        </div>
    </div>
</body>

<footer>
    <small>
        <div class="footer-content">
            Copyright © 2023 Best Duo Ever. All Rights Reserved.
        </div>
    </small>    
</footer>
</html>




 