<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link rel="stylesheet" href="/css/product.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">
    <script>
        let cnt = 1;

        function increase() {
            cnt++;
            document.getElementsByClassName('product-cnt')[0].innerText = cnt;
        }

        function decrease() {
            if(cnt > 1) {
                cnt--;
                document.getElementsByClassName("product-cnt")[0].innerText = cnt;
            }
        }
    
        (async function loadNav() {
            const data = await fetch('/load-nav');
            const navHTML = await data.text();
            document.getElementsByTagName('header')[0].innerHTML = navHTML;
        })();

        async function updateCart() {
            const newProduct = {
                productName: document.getElementsByClassName('product-name')[0].innerText,
                productQuantity: parseInt(document.getElementsByClassName('product-cnt')[0].innerText),
            }
            try {
                const response = await fetch("/update-cart", {
                    method: "post",
                    credentials: 'include',
                    headers: {"Content-Type": "application/json"},
                    body: JSON.stringify(newProduct)
                });
            } catch(e) {
                    console.error(e);
            }
        }

    </script>
</head>
<body>
    <div id="header-wrapper">
        <header>
        </header>
    </div>
    <div class="result-body">
        <div class="product">
            <img class="product-image"
                src="<%= product.product_image %>"
                width="300" height="300">

            <div class="product-info">
                <div class="product-desc">
                    <div class="product-desc">
                        <h6 class="product-name"><%= product.product_name %></h6>
                        <% 
                            const sentences = product.product_desc.split('. ');
                            sentences.forEach(sentence => { 
                            if (sentence.trim() !== '') { 
                        %>
                            <p><%= sentence %>.</p>
                        <% 
                            } 
                            }) 
                        %>
                    </div>
                </div>

                <div class="cnt-control">
                    <button class="inc-btn" onclick="increase()">+</button>
                    <label class="product-cnt">1</label>
                    <button class="dec-btn" onclick="decrease()">-</button>
                </div>

                <button class="add-btn" onclick="updateCart()">Add to Bag</button>
            </div>
        </div>
    </div>
</body>

<footer>
    <small>
        <div class="footer-content">
            Copyright © 2023 Best Duo Ever. All Rights Reserved.
        </div>
    </small>
</footer>
</html>


