<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link rel="stylesheet" href="/css/product.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">
    <script>
        let cnt = 1;

        function increase() {
            cnt++;
            document.getElementsByClassName('product-cnt')[0].innerText = cnt;
        }

        function decrease() {
            if(cnt > 1) {
                cnt--;
                document.getElementsByClassName("product-cnt")[0].innerText = cnt;
            }
        }
    
        (async function loadNav() {
            const data = await fetch('/load-nav');
            const navHTML = await data.text();
            document.getElementsByTagName('header')[0].innerHTML = navHTML;
        })();

        async function updateCart() {
            const newProduct = {
                productName: document.getElementsByClassName('product-name')[0].innerText,
                productQuantity: parseInt(document.getElementsByClassName('product-cnt')[0].innerText),
            }
            try {
                const response = await fetch("/update-cart", {
                    method: "post",
                    credentials: 'include',
                    headers: {"Content-Type": "application/json"},
                    body: JSON.stringify(newProduct)
                });
                // console.log(await response.json());
                console.log(response);
            } catch(e) {
                    console.error(e);
            }
        }
            
    </script>
</head>
<body>
    <div id="header-wrapper">
        <header>
        </header>
    </div>
    <div class="result-body">
        <div class="product">
            <img class="product-image" src="/images/cactus.png" width="300" height="300"></img>
            <div class="product-info">
                <div class="product-desc">
                    <h6 class="product-name">Charming Desert Cactus</h6>
                    <p> Add a touch of desert charm to your space with this low-maintenance cactus. </p>
                    <p>Perfect for desks, shelves, or small corners, it thrives with minimal watering and care.</p>
                    <p>Its unique shape and natural resilience make it both stylish and symbolic.</p>
                    <p>Ideal for beginners or busy plant lovers, this cactus brings simple beauty that lasts 🌵</p>
                </div>
                <div class="cnt-control">
                    <!-- TODO: potencially use something different than onlicks() -->
                    <button class="inc-btn" onclick="increase()">+</button>
                    <label class="product-cnt">1</label>
                    <button class="dec-btn" onclick="decrease()">-</button>
                </div>
                <button class="add-btn" onclick="updateCart()">Add to Bag</button>
            </div>
        </div>
    </div>
</body>

<footer>
    <small>
        <div class="footer-content">
            Copyright © 2023 Best Duo Ever. All Rights Reserved.
        </div>
    </small>
</footer>
</html>


